@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
	font-family: 'Montserrat';
}
h1, h2, h3 {
	font-family: 'Montserrat';
	font-weight: bold;
	margin-bottom: 0;
}
h1 { font-size: 42px !important; }
h2 { font-size: 36px !important; }
h3 { font-size: 30px !important; }
h4 { margin: 15px 0px 15px 0px; }
.footnote {
	position: absolute;
	bottom: 3em;
}
p, ul, li not(.min_line_height) { line-height: 1.10em; }
p, ul, li { margin: 20px 0px 20px 0px; }
li li {
    font-size: 26px !important;
    line-height: 1em !important;
}
li li li {
    font-size: 20px !important;
    line-height: 0.7em !important;
}
.red { color: #fa0000; }
.mildgreen { color: #004153; }
.white { color: #ffffff !important; }
.large { font-size: 2em; }
.small { font-size: 18px !important; }
.tiny { font-size: 15px !important; }
.medium { font-size: 26px !important; }

.min_line_height { line-height: 0.4em !important; }
.no_margin { margin: 0px 0px 0px 0px !important; }

a, a > code {
	color: #117bb6;
	text-decoration: none;
}
code {
	-moz-border-radius: 5px;
	-web-border-radius: 5px;
	background: #c7c8c2;
	border-radius: 5px;
	font-size: 20px !important;
	padding: 2px;
    background-color: transparent !important;
}

/* Two-column layout */
.left-column {
	width: 50%;
	height: 92%;
	float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
	color: #000;
}
.right-column {
	width: 50%;
	float: right;
}

/* Force background position to prevent remarks from moving it when using SVG
 * images. */
.remark-slide .remark-slide-content {
    background-position: 0 0 !important;
    background-size: 100% 100% !important;
    padding: 10px 30px 0px 120px;
	font-size: 30px !important;
}

.remark-slide .remark-slide-content.p {
    display: inline-block;
}

/* Non title slides */
.remark-slide .remark-slide-content:not(.rh_title_slide) {
	background-image: url("assets/background_summit.svg");
	color: #000000;
}

/* Title slides */
.remark-slide .remark-slide-content.rh_title_slide {
	background-image: url("assets/background_summit_title.svg");
	color: #ffffff;
    padding-top: 250px;
    padding-left: 250px;
}

/* Section slides */
.remark-slide .remark-slide-content.rh_section_slide {
	background-image: url("assets/background_summit_red.svg");
	color: #ffffff;
    padding-top: 75px;
    padding-left: 150px;
}

.remark-slide .remark-slide-content.rh_section_slide a {
	color: #000000;
}

.bg-image-vt100 {
	background-image: url("assets/vt100.jpg");
	background-size: cover;
	color: lightblue;
}

.small img {
	width: 35%;
}

.medium img {
    width: 65%;
}

.big img {
    width: 90%;
}

.dark_bg {
    /*background-color: #117bb6;*/
    background-color: #000000;
}

/* Page numbers in black and on the left */
.remark-slide .remark-slide-number {
    bottom: 22px;
    opacity: 1;
    position: absolute;
    color: #000000;
    left: 30px;
    right: auto;
	font-size: 0.5em;
}

/* Hide page numbers */
.remark-slide .remark-slide-content.no_page_footer .remark-slide-number {
    opacity: 0;
}

pre {
    margin: 15px 0px 15px 0px;
}
